* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.MuiAvatar-root {
    margin: 0 0.5rem !important;
}

#cardContainer {
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    padding: 2rem;
}

.myCard {
    border: 1px solid gray;
    border-radius: 0.4rem !important;
    padding: 0.5rem;
    box-shadow: -1px 5px 16px -1px #00000054 !important;
    width: max-content;
}
.myCard *{
    cursor: pointer;
}

.myCard:hover {
    box-shadow: -1px 10px 16px -1px #000000a6 !important;
}

.previousPrice{
    text-decoration: line-through !important;
}


#error{
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
}


.MuiCardMedia-img{
    object-fit: contain !important;
}